<section id="about" class="section-homepage bg-sky-200">
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-12 tablet:space-y-16">
        <h3 class="font-mono text-xs tablet:text-sm uppercase">
          What is The Bridge?
        </h3>
        <p class="text-md tablet:text-xl font-super">
          The Bridge works with nonprofits and government agencies to improve
          the delivery of public services through a combination of
          human-centered design, agile development, collaboration, and coaching.
        </p>
      </div>
    </div>
  </div>
</section>
