<section id="about" class="section-homepage bg-sky-500">
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-12 tablet:space-y-16">
        <h3 class="font-mono text-xs tablet:text-sm uppercase">
          What is The Bridge?
        </h3>
        <p class="text-md tablet:text-xl font-super">
          The Bridge helps state and local governments provide amazing digital
          services for the public by staffing projects with people who have deep
          government experience.
        </p>
      </div>
    </div>
  </div>
</section>
