<section id="goals" class="section-homepage bg-sky-200">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-xs tablet:text-sm uppercase">Donate</h3>
          <p class="text-md tablet:text-xl font-super content">
            Donate to The Bridge to support our work.
          </p>

          <p>
            <a
              href="https://tmf.iphiview.com/tmf/DonatetoAnotherFund/FundInformation/tabid/383/dispatch/accountselection_id$591478_hash$a7c9f76f407aefaa7bf6785c5abd0dda2defee8e/Default.aspx"
              class="font-mono uppercase text-2xs tablet:text-sm inline-block w-full tablet:w-auto py-4 px-14 tablet:px-24 text-center rounded-md no-underline hover:underline bg-[#fa8368]"
              >Donate</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
