<section id="goals" class="section-homepage bg-white">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-xs tablet:text-sm uppercase">Our Goals</h3>
          <p class="text-md tablet:text-xl font-super content">
            The Bridge funds initiatives through donations, grants, and
            fee-for-service engagements.
            <span class="text-[#fa8368]"
              >Initiatives can come from anywhere! Whether from a government
              agency needing to modernize IT processes or from someone with a
              bold service delivery idea, The Bridge will work to get the
              support, funding, connections, and staff needed to deliver.
            </span>
          </p>

          <p class="text-sm tablet:text-md font-normal content">
            Once we have a fiscal sponsor in place we will post information
            about how to pitch an idea to The Bridge, donate money, volunteer,
            and indicate your availability to work as a contractor on projects.
          </p>
        </div>
      </div>
    </div>
    <div class="pt-28">
      <div
        class="grid grid-cols-4 tablet:grid-cols-12 gap-y-10 desktop:gap-y-28 gap-x-10"
      >
        {% for item in site.data.goals %}
        <div class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6">
          <div class="goal flex pt-6 gap-4 border-t-[1px] border-black">
            <div class="flex flex-col justify-between">
              <div class="flex gap-x-2 desktop:flex-col">
                <div
                  class="text-body-bold-mobile tablet:text-body-bold font-super text-[#fa8368]"
                >
                  {{ item.num }}
                </div>
                <h4
                  class="p-0 text-body-bold-mobile tablet:text-body-bold font-super"
                >
                  {{ item.title }}
                </h4>
              </div>
              <p class="font-mono text-xs desktop-lg:text-sm">
                {{ item.desc }}
              </p>
            </div>
            <img
              class="w-[104px] desktop:w-[193px] h-full object-cover"
              src="{{ item.img | relative_url }}"
              alt="{{ item.title }}"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
