<section id="goals" class="section-homepage bg-slate-900">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-xs tablet:text-sm uppercase text-white">
            Work with us
          </h3>
          <p class="text-md tablet:text-xl font-super content text-white">
            <span class="text-[#fa8368]"
              >The Bridge is seeking bold ideas for high-impact projects.
            </span>
            If you have a venture that addresses a public need, we want to hear
            from you! We’ll work with you to take your vision from concept to
            reality, providing the support, funding, and connections needed to
            launch it.
          </p>

          <p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSeMA6M_RllGHeKJKAei-9lVFJhia2eXcm-kqekc3MhaJlO62g/viewform?usp=dialog"
              class="font-mono uppercase text-2xs tablet:text-sm inline-block w-full tablet:w-auto py-4 px-14 tablet:px-24 text-center rounded-md no-underline hover:underline bg-[#fa8368]"
              >Get in touch</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
