<section id="goals" class="section-homepage bg-white">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-xs tablet:text-sm uppercase">Who we are</h3>
          <p class="text-md tablet:text-xl font-super content">
            We are a collective of former public servants with a track record of
            successfully tackling complex problems and improving government
            systems.
            <span class="text-[#fa8368]"
              >Our consultants are available to work on initiatives funded
              through donations, grants, or fee-for-service engagements.
            </span>
          </p>

          <p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSeMA6M_RllGHeKJKAei-9lVFJhia2eXcm-kqekc3MhaJlO62g/viewform?usp=dialog"
              class="font-mono uppercase text-2xs tablet:text-sm inline-block w-full tablet:w-auto py-4 px-14 tablet:px-24 text-center rounded-md no-underline hover:underline bg-[#fa8368]"
              >Partner with us</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
