<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{ site.title }} – The Bridge</title>

  <!-- Custom CSS -->
  <link
    rel="stylesheet"
    href="{{ '/assets/css/main.css' | relative_url }}?{{ site.time | date: '%Y%m%j%H%M%S' }}"
  />

  <!-- icons -->
  <link rel="shortcut icon" href="/assets/img/favicons/apple-touch-icon.png" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>
