<footer class="section-homepage bg-zinc-950">
  <div class="space-y-20">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-10">
          <h3
            class="pt-4 text-white text-body-bold-mobile tablet:text-body-bold font-bold border-t-[1px] border-white"
          >
            The Bridge
          </h3>

          <div
            class="grid grid-cols-4 tablet:grid-cols-12 gap-0 gap-y-10 tablet:gap-x-10"
          >
            <div class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6">
              <div class="space-y-10 text-white">
                <p class="text-xs tablet:text-sm text-[#bbd2fe] font-mono">
                  The Bridge is a new incubator and accelerator for building
                  mission-driven startups, nonprofits, and scalable
                  infrastructure for the public.
                </p>
              </div>
            </div>
            <div class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6">
              <div class="space-y-10 text-white">
                <p class="text-xs tablet:text-sm text-[#bbd2fe] font-mono">
                  Built by technologists who were recently doing this work at
                  18F, USDS, and TTS in the Federal Government.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <p class="text-[12px] font-normal text-[#6D6767]">© THE BRIDGE 2025</p>
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
