<header
  id="header"
  class="relative bg-emerald-200 transform transform-origin-top-left scale-100"
>
  <div class="relative z-20 flex flex-col items-center justify-between h-full">
    <div
      id="hero"
      class="h-full w-full flex items-center min-h-[80vh] tablet:min-h-[80vh] desktop:min-h-[90vh]"
    >
      <h1
        class="w-full h-full text-emerald-700 text-4xl tablet:text-6xl text-center font-medium tracking-tight flex items-center justify-center -rotate-90 tablet:rotate-0"
      >
        <span>{{ site.title }}</span>
      </h1>
    </div>
  </div>
</header>
